doctype html
html
  head
    title= title
  body
    h1= message
    script(src="https://cdn.jsdelivr.net/npm/htmx.org@1.6.1")
    script(src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2")
    div(x-data="{ message: 'Hello, CMS!' }")
      p #{bundler}
      h2(x-text="message")
      button(@click="message = 'Hello, HTMX and Alpine.js!'") Change Message
    script(type="module" src="/src/main.ts")
