template#navbarTemplate
  .navbar.bg-neutral.text-neutral-content
    .navbar-start
      .dropdown
        .btn.btn-ghost(class="lg:hidden" role="button" tabindex="0")
          svg.h-5.w-5(xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor")
            path(stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16")
        ul.menu.menu-sm.dropdown-content.bg-neutral.rounded-box.mt-3.w-52.p-2.shadow(class="z-[1]" tabindex="0")
          li(data-testid='')
            a Blog
            ul.p-2#blog-categories
              li #[a Category 1]
              li #[a Category 2]
              //- get blog categories section from server with htmx
          li #[a Contact]
      a.btn.btn-ghost.text-xl(data-testid='navbar-title') #{ENV.OLEA_TITLE}
    .navbar-center.hidden.lg(class="lg:flex")
      ul.menu.menu-horizontal.px-1
        li(hx-get=`${ENV.API_URL}/api/blog/categories` hx-target='#blog-categories' hx-trigger='load' hx-swap="outerHTML")
          details
            summary Blog
            ul.p-2.blog-categories
              li #[a Category 1]
              li #[a Category 2]
              //- get blog categories section from server with htmx
        li #[a Contact]
    .navbar-end
      img.h-10.w-10(src="/avataaars.svg")

script(type='module' src='src/components/navbar/navbar.ts')
