.min-h-screen.bg-gray-100
  .hero.min-h-screen.bg-red-500.text-white
    .hero-content.text-center
      .max-w-md
        h1.text-5xl.font-bold Oops!
        p.py-6
          | #{MSG || 'Something went wrong. Please try again later or contact support if the problem persists.'}
        button.btn.btn-primary(onclick='window.location.reload();') Reload
