doctype html
html.h-dvh.min-h-full.bg-base-200
  head
    meta(charset='UTF-8')
    link(rel='icon' type='image/svg+xml' href='/public/logo-circle-wrap-text.png')
    link(rel="stylesheet" href="/public/stylesheet.css")
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title #{process.env.OLEA_TITLE || "OleaCMS"}
    script(src="https://unpkg.com/htmx.org@2.0.1/dist/htmx.js" integrity="sha384-gpIh5aLQ0qmX8kZdyhsd6jA24uKLkqIr1WAGtantR4KsS97l/NRBvh8/8OYGThAf" crossorigin="anonymous")
    script(src='https://unpkg.com/htmx-ext-alpine-morph@2.0.0/alpine-morph.js')
    script(defer src="https://unpkg.com/@alpinejs/morph@3.x.x/dist/cdn.min.js")
    script(src='https://unpkg.com/htmx-ext-response-targets@2.0.0/response-targets.js')
    script(src="https://unpkg.com/htmx-ext-loading-states@2.0.0/loading-states.js")
    script(src="https://unpkg.com/htmx-ext-ws@2.0.0/ws.js")
    script(src='https://cdn.jsdelivr.net/npm/pinecone-router@4.x.x/dist/router.min.js')
    script(src='https://unpkg.com/nprogress@0.2.0/nprogress.js')
    //- link(rel='stylesheet' href='https://unpkg.com/nprogress@0.2.0/nprogress.css')
    link(rel="stylesheet" type="text/css" href="https://unpkg.com/trix@2.0.8/dist/trix.css")
    script(type="text/javascript" src="https://unpkg.com/trix@2.0.8/dist/trix.umd.min.js")
    script(src='https://unpkg.com/alpinejs-component@latest/dist/component.min.js' defer='')
    script(defer='' src='https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js')
    script
      include:typescript common/feConstants.ts
      include:typescript index.ts

    include common/mixins
    //- https://stackoverflow.com/questions/45824697/workaround-to-dynamic-includes-in-pug-jade
    //- adynamicInclude is included as a variable in every call of
    //- renderPug and renderPugFile, see libs/renderPug.ts and
    //- libs/dynamicPugInclude.ts
    //- also I just wanna say this is really based
    mixin heroicon(iconName, opts = { size: 6, fill: 'currentColor' })
      .pug-hero-icon&attributes(attributes)
        | !{dynamicInclude(`components/icons/${iconName}.pug`, { size: opts.size || 6, fill: opts.fill || 'currentColor'})}

    //- this sucks booty but I have to do it to precompile all the sizes I
    //- want, probably will have to do it for fill colors as well
    .hidden.size-1.size-2.size-3.size-4.size-5.size-6.size-7.size-8.size-9.size-10.size-12.size-14.size-16.size-18.size-20.size-24.size-28.size-32.size-40.size-42


  // we have to set x-data for pinecone router
  body.bg-base-200.h-fit.min-h-full(x-data='router()' hx-ext='loading-states, alpine-morph, ws' hx-swap='morph')
    #catastrophicError
    include components/navbar

    //#app(class='min-h-[calc(100vh-80px)] h-[calc(100vh-80px)]')
    #app.pt-16.h-dvh

    // routes
    +route('/admin', 'authHandler', '/pages/admin/dashboard')
    +route('')
      include pages/home
    +route('/login', 'authHandler')
      include pages/login
    +route('/register', 'authHandler')
      include pages/register
    +route('/%F0%9F%92%A9')
      include components/catastrophic-error
    +route('/💩')
      include components/catastrophic-error
    template(x-route='notfound')
      .hero.bg-base-100.min-h-screen(x-data='{ count: 0 }')
        +htmx
        .hero-content.flex-col
          div
            h1.text-5xl.font-bold 404: Page not found
            p.py-6 Uh oh! Looks like you tried visiting a page that doesn't exist.
          .flex.justify-between.w-full.divide-x
            div
              h3 Alpine demo:
              span(x-text='count')
              .flex.content-between.mt-4.gap-2
                button.btn.btn-primary(x-on:click='count--') Decrement
                button.btn.btn-secondary(x-on:click='count++') Increment
            .pl-16
              h3 HTMX demo:
              button.btn.btn-primary(hx-get='/ping' hx-target='#pong') Ping
              p#pong
          a.btn.btn-secondary.mt-6(href='/') Go home
